:root {
  --couleur-fond: #131c25;
  --couleur-texte: #DFC2F2;
  --couleur-liens: #4052b8;
  --couleur-header: #8e79b4;
}

@font-face {
  font-family: 'Kanit';
  src: url('Font/Kanit-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'VT323';
  src: url('Font/VT323-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Press';
  src: url('Font/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Chakra';
  src: url('Font/ChakraPetch-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'y2k';
  src: url('Font/GiganticFs-d9doR.ttf') format('truetype');
}

body {
  margin: 0;
  margin-top: 0;
  justify-content: center;
  background-color: var(--couleur-fond);
  color: var(--couleur-texte);
  font-family: 'y2k', sans-serif;
  min-height: 100vh ;
  
}

main {
  display: grid;
  
  grid-gap: 0px;
  align-items: center;
  justify-items: center;
  width: 100%;
}

header {
  position: absolute;
  top: 0;
  left: -20px;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}



h1 {
  font-family: 'y2k';
  font-size: 84px;
  margin-bottom: 0;
  align-self: center;
  
}

h2 {
  font-size: 30px;
  align-self: left;
  margin-bottom: 0px;
}

h3 {
  
  font-size: 50px;
  margin-top: 10px;
}
h6{
  
  font-size: 50px;
  margin-top: 10px;
}
h4 {
  justify-content: center;
  font-size: 20px;
  margin-top: 190px;
}

img {
  display: flex;
  width: 1312px;
  height: 1080px;
  align-items: center;
  justify-content:center;
  border-radius: 0%;
  margin: 50px;
  overflow: hidden;
}

.image2 {
  width: 828px;
  height: 1169px;
  justify-content: flex-end;
  border-radius: 0%;
}

.image1 {
  position: absolute;
  margin-left: -10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  overflow: hidden;
}



section {
  grid-column: 2;
  align-self: flex-start;
  display: flex ;
  flex-direction: column;
  align-items: flex-start;
  background-color: #131c25;
  height: 100vh;
  width: 100%;

}

.section img{
  width: 100%; /* Définit la largeur de l'image à 100% de la largeur de son conteneur (la section) */
  height: auto; /* Permet à la hauteur de l'image de s'ajuster automatiquement en conservant les proportions */
}



p {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: center;
  margin: 10px 0;
}



button {
  font-family: 'y2k', sans-serif ;
  background-color: #266ed300;
  color: #d6a0d8;
  border: none;
  padding: 10px 30px;
  border-radius: 0px;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
}
button:hover {
  font-family: 'y2k', sans-serif ;
  background-color: #266ed300;
  color: #f8f3f8;
  border: none;
  padding: 10px 30px;
  border-radius: 0px;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
}

.pro button {
  display: inline-flex;
  height: 50px;
  padding: 0;
  background: #1990a0;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'y2k';
  font-size: 34px;
  font-weight: 500px;
  

}

.pro button:hover{
  background:#2a3968;
  cursor: pointer;
}

.pro button__text,
.pro button__icon{
  display:inline-flex;
  align-items:center;
  padding: 0 24px;
  color: #000000;
  height: 100%;
}

.pro button__icon{
  font-size: 1.5em;
  background: rgba(0,0,0,0.08);
}

.box{
  
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:150px;
  height: 100px;
  background: #dea4ff;
  box-sizing: border-box;
  padding: 3px;
}

.inner_box{
  position: relative;
  width: 100%;
  height: 100%;
  background: #2a3968;
  overflow: hidden;
}

.box::before
{
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background: #16203f;
  transition: .5s;
}
.box::after
{
  content:'';
  position: absolute;
  top: 0;
  right: -50%;
  width:50%;
  height: 100%;
  background: #16203f;
  transition: .5s;
  
}
.inner_box::before
{
  content:'';
  position: absolute;
  top:0;
  left:-50%;
  width: 50%;
  height: 100%;
  background: #2e4c8d;
  transition: .5s;
}
.inner_box::after
{
  content:'';
  position: absolute;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  background: #2e4c8d;
  transition: .5s;
  z-index: 11;
}
.box:hover::before
{
  left:0;
}
.box:hover::after
{
  right:0;
}
.box:hover .inner_box:before
{
  left:0;
}
.box:hover .inner_box:after
{
  right:0;
}

h7{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color:#f6b6ff;
  z-index: 15;
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
  transition: .5s;
}
.box:hover h7{
  color: #ffffff ;
  z-index: 15;
}

.section-reseaux {
  display: none;
  margin-left: 0; /* Ajoutez cette ligne pour réinitialiser la marge */
}

.projet {
  position: relative;
  margin-bottom: 40px;
  margin-right: 100%;
  margin: 0;
  padding: 0;
  height: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex ;
}

.title{
  position: absolute;
  left: 0;
  top: 00%;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: left center;
  margin: 0;
  padding: 10px;
  white-space: nowrap;
  color: #4dffff;
  font-family: 'y2k', 'serif';
  z-index: -1;
  margin-top: 63%;
}

.projet .main-image {
  max-width: 100%;
  height: auto;
}


.flip-horizontal {
  transform: scaleX(-1);
}


.projet .box {
  background-color: #2fac9b;
  color: #000;
  padding: 10px;
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.projet .box p {
  margin: 0;
}

.projet h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.projet p {
  font-size: 25px;
  margin-bottom: 10px;
  font-family: 'Kanit', 'serif';
}

.projet a {
  font-size: 18px;
  margin-top: 25%;
  background-color: var(--couleur-liens);
  color: #ffffff;
  padding: 3%;
  justify-content: center;
  margin-left: 50%;
  text-decoration: none;

}
.play{
  margin-right: 25%;
}
.play a{
  color: #fff6ff;
  margin-top: 0%;
  font-size: 25px;
  text-align: center;
  display: flex;
  text-decoration: none;
  border-radius: 15px;
  margin-right: 17%;
}


.reseaux-sociaux {
  margin: 20px;
  text-align: left;
}

.icones {
  display: flex;
  justify-content: space-between;
}

.icones a img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

a {
  
  color: #ffffff;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
 
}

a:hover {
  background-color: #ffffff00;
}

a01 {
  
  color: #ffffff;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
 font-size: x-large;
}



.thumbnail-container {
  display: inline-block;
  margin-left: 10px;
}

.thumbnail {
  width: 3000px;
  height: 200px;
  cursor: pointer;
}

ul.principal
{
  grid-column: 1;
  grid-row: 1/span 3;
  position: relative;
  transform: skewY(-15deg);
  margin-bottom: 100px;
  margin-left: 70px;
  position: sticky;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  
}
ul.principal li
{
  position: relative;
  list-style: none;
  width: 200px;
  background: #16203f;
  padding: 15px;
  z-index: var(--i);
  transition: 0.5s;
}

ul.principal li:hover
{
  background: var(--clr);
  transform: translateX(-50px);
  cursor: pointer;
}


ul.principal li::before
{
  content:'';
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #112036;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}

ul.principal li:hover::before
{
  background: #2a3968;
}

ul.principal li::after
{
  content:'';
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #192231;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

ul.principal li:hover::after
{
  background: #2a3b70;
}

ul.principal li a
{
  text-decoration: none;
  color: #9173a3;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

ul.principal li:hover a
{
  color: #d0b4e2;
}

ul.principal li:last-child::after
{
  box-shadow: -230px 250px 20px rgba(0,0,0,0.25);
}


/* Styles pour le bouton ArtStation */
.bouton-artstation {
  background-color: #001f3f; /* Bleu foncé */
  color: #fff; /* Texte en blanc */
}

/* Styles pour le bouton Instagram */
.bouton-instagram {
  background-color: #8a2be2; /* Violet */
  color: #fff; /* Texte en blanc */
}

/* Styles pour le bouton Twitter */
.bouton-twitter {
  background-color: #00ffff; /* Bleu lagon */
  color: #000; /* Texte en noir */
}
.effect01 
{
  grid-column: 1;
  grid-row: 1/span 3;
  position: sticky;
  display: flex;
  margin-bottom: 100px;
  margin-left: 70px;
  margin-top: 70px;
  gap: 100px;
  
}
/* Styles pour le bouton LinkedIn */
.bouton-linkedin {
  background-color: #00bcd4; /* Bleu cyan */
  color: #fff; /* Texte en blanc */
}

.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  
  
}

.slides{
  width:500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width:20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height:500px;
  
}

.navigation-manual{
position: absolute;
width: 800px;
margin-top: -40px;
display: flex;
justify-content: center;
}

.manual-btn{
  border:2px solid #00bcd4;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not( :last-child){
  margin-right:40px;
}

.manual-btn:hover{
  background:#001f3f;
}

#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -20%;
}
#radio3:checked ~ .first{
  margin-left: -40%;
}
#radio4:checked ~ .first{
  margin-left: -60%;
}

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 160px;
}

.navigation-auto div{
  border: 2px solid #00bcd4;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child)
{
  margin-right: 40px;
}

#radio1.checked ~.navigation-auto .auto-btn1{
  background:#88c3ff;
}
#radio2.checked ~.navigation-auto .auto-btn2{
  background:#88c3ff;
}
#radio3.checked ~.navigation-auto .auto-btn3{
  background:#88c3ff;
}
#radio4.checked ~.navigation-auto .auto-btn4{
  background:#88c3ff;
}

.parallax{
  
display: flex;
  
justify-content: center;
  
align-items: center;
  
height: 88vh;
  
/* overflow: hidden; */
}
.parallax-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px; /* Ajustez la hauteur selon vos besoins */
}

#text {
  position: absolute;
  
			font-size: 5em;
			justify-content: center;
			align-items: center;
			color: #f3b6ff;
      
			text-shadow: 2px 2px 4px rgba(0,0,0,0.25);
			opacity: 1;
			transition: opacity 0.5s ease-in-out;
}

.parallax img{
  position: absolute;
  margin-left: -10px;
  display: flex;
  width: 100%;
  height: 100%;
  pointer-events: none;
  
}

#sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: -5%;
  width: 1000px;  /* Ajustez la largeur selon vos besoins */
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
#content {
  margin-left: 320px; /* Assurez-vous d'ajuster cette valeur selon la largeur de votre barre latérale */
}

.slider-wrapper{
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}
.slider{
  display:flex;
  aspect-ratio: 16 / 9;
  overflow-x:auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem --0.75rem hsla(0, 0%, 0%, o.25);
  margin-left: 22%;
}
.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  height: 470px;
  
}
.slider-nav{
  display:flex;
  column-gap:1.5rem;
  position:absolute;
  margin-top: 1%;
  padding: 3%;
  left:20%;
}
.slider-nav a{
  width: 2.8rem;
  height:1rem;
  border-radius:50%;
  background-color: #ff96ff;
  opacity: 0.75;
  transition: opacity ease 250ms;
  margin-right: 10%;
}
.slider-nav a:hover{
  opacity:1;
  
}
