:root {
  --couleur-fond: #29223a;
  --couleur-texte: #DFC2F2;
  --couleur-liens: #266DD3;
  --couleur-header: #8e79b4;
}

@font-face {
  font-family: 'VT323';
  src: url('VT323-Regular.ttf') format('truetype');
  font-family: 'Press';
  src: url('PressStart2P-Regular.ttf') format('truetype');
  font-family: 'Chakra';
  src: url('ChakraPetch-Medium.ttf') format('truetype');
  font-family: 'y2k';
  src: url('GiganticFs-d9doR.ttf') format('truetype');
}

body {
  margin: 0px;
  justify-content: center;
  background-color: var(--couleur-fond);
  color: var(--couleur-texte);
  font-family: 'y2k', sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr 2frr;
  grid-gap: 20px;
  align-items: start;
  justify-items: center;
}

header {
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;
  background-color: var(--couleur-header);
  color: #fff;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 80px;
}

h1 {
  font-size: 84px;
  margin-bottom: 0;
}

h2 {
  font-size: 30px;
  align-self: left;
  margin-bottom: 0px;
}

h3 {
  font-size: 50px;
  margin-top: 10px;
}
h4 {
  justify-content: center;
  font-size: 20px;
  margin-top: 190px;
}

img {
  display: flex;
  width: 854px;
  height: 480px;
  align-items: flex-end;
  justify-content:flex-end;
  border-radius: 0%;
  margin: 50px;
}

.image2 {
  width: 828px;
  height: 1169px;
  justify-content: right;
  border-radius: 0%;
}

.image1 {
  width: 300px;
  justify-content: left;
  height: 300px;
  
}

section {
  grid-column: 2;
  align-self: flex-start;
  display: flow ;
  flex-direction: column;
  align-items: flex-start;
  
  
}



p {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}

p1 {
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
  margin-top: 620px;
}

button {
  font-family: 'y2k', sans-serif ;
  background-color: #266ed300;
  color: #d6a0d8;
  border: none;
  padding: 10px 30px;
  border-radius: 0px;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
}
button:hover {
  font-family: 'y2k', sans-serif ;
  background-color: #266ed300;
  color: #f8f3f8;
  border: none;
  padding: 10px 30px;
  border-radius: 0px;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
}

.section-reseaux {
  display: none;
  margin-left: 0; /* Ajoutez cette ligne pour réinitialiser la marge */
}

.projet {
  margin-bottom: 40px;
}

.projet h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.projet p {
  font-size: 16px;
  margin-bottom: 10px;
}

.projet a {
  font-size: 18px;
}

.reseaux-sociaux {
  margin: 20px;
  text-align: left;
}

.icones {
  display: flex;
  justify-content: space-between;
}

.icones a img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

a {
  background-color: var(--couleur-liens);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 20px;
}

a:hover {
  background-color: #555;
}

.thumbnail-container {
  display: inline-block;
  margin-left: 10px;
}

.thumbnail {
  width: 3000px;
  height: 200px;
  cursor: pointer;
}

ul
{
  grid-column: 1;
  grid-row: 1/span 3;
  position: relative;
  transform: skewY(-15deg);
  margin-bottom: 100px;
  margin-left: 70px;
 
  
}
ul li
{
  position: relative;
  list-style: none;
  width: 200px;
  background: #16203f;
  padding: 15px;
  z-index: var(--i);
  transition: 0.5s;
}

ul li:hover
{
  background: var(--clr);
  transform: translateX(-50px);
}


ul li::before
{
  content:'';
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #112036;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}

ul li:hover::before
{
  background: #2a3968;
}

ul li::after
{
  content:'';
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #192231;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

ul li:hover::after
{
  background: #2a3b70;
}

ul li a
{
  text-decoration: none;
  color: #9173a3;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

ul li:hover a
{
  color: #d0b4e2;
}

ul li:last-child::after
{
  box-shadow: -230px 250px 20px rgba(0,0,0,0.25);
}

/* Styles pour le bouton ArtStation */
.bouton-artstation {
  background-color: #001f3f; /* Bleu foncé */
  color: #fff; /* Texte en blanc */
}

/* Styles pour le bouton Instagram */
.bouton-instagram {
  background-color: #8a2be2; /* Violet */
  color: #fff; /* Texte en blanc */
}

/* Styles pour le bouton Twitter */
.bouton-twitter {
  background-color: #00ffff; /* Bleu lagon */
  color: #000; /* Texte en noir */
}

/* Styles pour le bouton LinkedIn */
.bouton-linkedin {
  background-color: #00bcd4; /* Bleu cyan */
  color: #fff; /* Texte en blanc */
}






